[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-pythonpath = "*"
pytest-flake8 = "*"
pytest-env = "*"
flake8 = "*"
mock = "*"
testfixtures = "*"

[packages]
boto3 = "*"
feedgen = "*"
feedparser = "*"
python-telegram-bot = "*"
cryptography = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
